<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Work Lists</title>
</head>
<body>
    <header>
        <h1 id="">Your Today's WorkLists</h1>
    </header>
    <main>
        <ol type="1" class="task-lists">
            <% let count = 0 %>
            <% for(let i = 0; i < info.length; i++){ %>
            <li>
                <% if(info[i].completed === true){ %>
                    <section class="textArea">
                        <span class="taskText completed"><%= info[i].task %></span>
                    </section>
                    <section class="buttunArea">
                        <button class="deleteBtn">Delete</button> 
                    </section>   
                <% } else {%>
                    <section class="textArea">
                        <span class="taskText"><%= info[i].task %></span>
                    </section>
                    <section class="buttunArea">
                        <button class="deleteBtn">Delete</button> 
                    </section> 
                    <% count++ %>
                <% } %>
            </li>
            <% } %>
        </ol>
        <form action="/postTaskAPI" method="POST">
            <input type="text" name="task" class="task" placeholder="Add Task">
            <button type="submit">Add</button>
        </form>
    </main>
    <footer>
        <h2>Incomplete: <span id="count_incompleted_task"><%= count %> </span> !</h2>
    </footer>
    
    
    <script src="/js/main.js"></script>
</body>
</html>