<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Work Lists</title>
</head>
<body>
    <header id="heading">
        <h1 id="title">Work Lists</h1>
        <p id="description">Add Your Tasks</p>
    </header>

    <main id="task-form">
        <!-- <ol type="1" class="task-lists">
            <li>

                <section class="textArea">
                    <span class="taskText completed">testing forms</span>
                </section>
                <section class="buttunArea">
                    <button class="deleteBtn">Delete</button> 
                </section>   
            </li>
        </ol> -->

        <form action="workLists/createTask" method="POST">
            <section class="task-content">
                <input type="text" name="taskInput" class="task-input" placeholder="Type here" required title="Type here"/>
            </section> 
            <section>
                <button type="submit" id="submit">Add</button>
            </section>
        </form>
    </main>
    <script src="js/main.js"></script>

</body>
</html>